<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Application - HCAEPKS</title>
    <meta name="description" content="CKS Scholarship Website for the Alpha Epsilon Chapter of Phi Kappa Sigma">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="static/css/404-NOT-FOUND-animated-v2.compiled.css">
    <link rel="stylesheet" href="static/css/Animated-Text-Background.css">
    <link rel="stylesheet" href="static/css/Background-Image---Parallax---No-Text.css">
    <link rel="stylesheet" href="static/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="static/css/pikaday.min.css">
</head>

<body>
    <main class="page" style="background: url(&quot;static/img/geometric-leaves.webp&quot;);">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2 style="color: var(--bs-secondary);font-weight: bold;font-size: 44px;text-shadow: 7px 9px 10px var(--bs-secondary);">Scholarship Application</h2>
                </div>
                <form id="application-form" method = "post" class="border rounded border-1 shadow-lg p-3 p-md-5" data-bs-theme="light" style="background: #ffffff;">
                    <div>
                        <h1 style="text-align: center;">{{ applicant_first_name }}'s Application</h1>
                    </div>
                    <div id="General"><label class="form-label" style="font-weight: bold;font-size: 20px;">General</label>
                        <div class="mb-3"><label class="form-label" for="anum">A Number</label><input class="form-control" type="text" id="anum" name="anum" required="" minlength="7" maxlength="11"></div>
                        <div class="mb-3"><label class="form-label" for="firstsemester">When was your first semester at IIT?</label><input class="form-control" name="firstsemester" type="date" required=""></div>
                        <div class="mb-3"><label class="form-label" for="expectedgraduation">When are you expecting to graduate from IIT?</label><input class="form-control" name="expectedgraduation" id="expectedgraduation" type="date" required=""></div>
                        <div class="mb-3"><label class="form-label" for="activemember">Will you be an active member next year?</label><select class="form-select" name="activemember" id="activemember" required="">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="10">No</option>
                                <option value="1">Yes</option>
                            </select></div>
                        <div class="mb-3"><label class="form-label" for="living">Where do you plan on living next semester?</label><select class="form-select" id="living" required="">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="10">Townsman</option>
                                <option value="1">In-House</option>
                            </select></div>
                    </div>
                    <div id="Academics"><label class="form-label" style="font-weight: bold;font-size: 20px;">Academics</label>
                        <div class="mb-3"><label class="form-label" for="firstmajor">First Major</label><input class="form-control" type="text" id="firstmajor" required=""></div>
                        <div class="mb-3"><label class="form-label" for="secondmajor">Second Major (If you have one)</label><input class="form-control" type="text" id="secondmajor"></div>
                        <div class="mb-3"><label class="form-label" for="firstminor">First Minor (If you have one)</label><input class="form-control" type="text" id="firstminor"></div>
                        <div class="mb-3"><label class="form-label" for="secondminor">Second Minor (If you have one)</label><input class="form-control" type="text" id="secondminor"></div>
                        <div class="mb-3"><label class="form-label" for="cumulativegpa">Cumulative GPA</label><input class="form-control" type="number" id="cumulativegpa" required="" min="0.0" max="4.0" step=".01"></div>
                        <div class="mb-3"><label class="form-label" for="cumulativegpa-1">Previous Semester GPA</label><input class="form-control" type="number" id="cumulativegpa-1" required="" min="0.0" max="4.0" step=".01"></div>
                    </div>
                    <div id="Fraternity"><label class="form-label" style="font-weight: bold;font-size: 20px;">Fraternity</label>
                        <div class="mb-3"><label class="form-label" for="initiated">When were you initiated into the Fraternity?</label><input class="form-control" id="initiated" type="date" required=""></div>
                        <div class="mb-3"><label class="form-label" for="execpositions">How many Executive Board positions have you held in the fraternity?</label><input class="form-control" type="number" id="execpositions" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="otherpositions">How many non-executive positions have you held in the fraternity?</label><input class="form-control" type="number" id="otherpositions" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="conferences">How many Fraternity Conferences have you attended?</label><input class="form-control" type="number" id="conferences" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="frat-text">Explain how you have contributed to the Fraternity.</label><textarea class="form-control form-control-lg" id="frat-text" required="" maxlength="10000"></textarea></div>
                    </div>
                    <div id="Organizations"><label class="form-label" style="font-weight: bold;font-size: 20px;">Organizations</label>
                        <div class="mb-3"><label class="form-label" for="otherorgs">How many semesters have you been involved in other IIT organizations?</label><input class="form-control" type="number" id="otherorgs" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="otherorgexec">How many Executive positions have you held in&nbsp;other IIT organizations?</label><input class="form-control" type="number" id="otherorgexec" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="otherorgpos">How many non-executive positions have you held in other IIT organizations?</label><input class="form-control" type="number" id="otherorgpos" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="org-message">Explain how you have been involved at IIT outside of the Fraternity.</label><textarea class="form-control form-control-lg" id="org-message" maxlength="10000" required=""></textarea></div>
                    </div>
                    <div id="Community-Service"><label class="form-label" style="font-weight: bold;font-size: 20px;">Community Service</label>
                        <div class="mb-3"><label class="form-label" for="comservice">What is the total&nbsp; hours of community service you have while in the fraternity?</label><input class="form-control" type="number" id="comservice" required="" min="0" step="1"></div>
                        <div class="mb-3"><label class="form-label" for="service-message">Explain what community service events you have involved in.</label><textarea class="form-control form-control-lg" id="service-message" maxlength="10000" required=""></textarea></div>
                    </div>
                    <div id="Submit" class="mb-3"><button class="btn btn-primary btn-lg d-block w-100" type="submit">Save</button></div>
                </form>
            </div>
        </section>
    </main>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/Animated-Text-Background-animatedTextBackground.js"></script>
    <script src="static/js/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
        window.addEventListener('beforeunload', function (event) {
            var form = document.getElementById('application-form');
            var formData = new FormData(form);
            var data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            navigator.sendBeacon('/save_application', JSON.stringify(data));
        });
    </script>
</body>

</html>