<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CKS</title>
    <meta name="description" content="CKS Scholarship Website for the Alpha Epsilon Chapter of Phi Kappa Sigma">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="static/css/404-NOT-FOUND-animated-v2.compiled.css">
    <link rel="stylesheet" href="static/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="static/css/pikaday.min.css">
</head>

<body>
    <div class="container-fluid bg-dark min-vh-100" style="position: relative;">
  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="static/img/ipxcloud/404.svg" width="300px">
        <a href="/" class="btn-go-home">Return To Login</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="static/img/ipxcloud/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="static/img/ipxcloud/earth.svg" width="100px">
        <img class="object_moon" src="static/img/ipxcloud/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="static/img/ipxcloud/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </div>

  </div>
        <p style="color: rgb(242,242,242);text-align: center;text-shadow: 0px 0px 2px;"><span style="color: rgb(255, 255, 255);">{{ error_message }}</span>&nbsp;</p>
    </div>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>