<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="static/css/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page" style="background: url(&quot;static/img/geometric-leaves.webp&quot;);">  
        <section>
            <div data-bss-parallax-bg="true" style="height: 400px; background: url('static/img/LmmFVeZS.jpg') top / cover no-repeat; color: var(--bs-light); box-shadow: inset 0px 0px 10px 2px var(--bs-dark); z-index: 1; position: relative;">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold" style="text-align: left;text-shadow: 0px 0px 10px var(--bs-warning);">CarrolL&nbsp; Simons Scholarship Application</h1>
                                <p class="my-3" style="text-align: left;font-size: 15px;text-shadow: 0px 0px 11px var(--bs-warning);">Administrated by the Housing Corporation of the Alpha Epsilon Chapter of Phi Kappa Sigma</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="position-relative py-4 py-xl-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-5">
                            <div class="card-body d-flex flex-column align-items-center">
                                <div class="row mb-5">
                                    <div class="col-md-12 text-center mx-auto">
                                        <h2>Login</h2>
                                        <p class="w-lg-50">You should have received your password in your IIT email.</p>
                                    </div>
                                </div>
                                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-skull">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 4c4.418 0 8 3.358 8 7.5c0 1.901 -.755 3.637 -2 4.96l0 2.54a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-2.54c-1.245 -1.322 -2 -3.058 -2 -4.96c0 -4.142 3.582 -7.5 8 -7.5z"></path>
                                        <path d="M10 17v3"></path>
                                        <path d="M14 17v3"></path>
                                        <path d="M9 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        <path d="M15 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                    </svg></div>
                                <form class="text-center" method="post" action="/login">
                                    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                                    <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button></div>
                                    <p class="text-muted"><a href="/forgot_password_page">Forgot Password?</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="text-center bg-dark">
            <div class="container text-white py-4 py-lg-5">
                <ul class="list-inline">
                    <li class="list-inline-item me-4"><a class="link-light" href="#"></a></li>
                    <li class="list-inline-item me-4"><a class="link-light" href="#"></a></li>
                    <li class="list-inline-item"><a class="link-light" href="#"></a></li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item me-4"></li>
                    <li class="list-inline-item me-4"></li>
                </ul>
                <p class="text-muted mb-0">Copyright © 2025 Brand</p>
            </div>
        </footer>
    </main>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>