<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - HCAEPKS</title>
    <meta name="description" content="CKS Scholarship Website for the Alpha Epsilon Chapter of Phi Kappa Sigma">
</head>

<body>
    <main class="page" style="background: url(&quot;static/img/geometric-leaves.webp&quot;);">
        <section class="portfolio-block hire-me">
            <div class="container">
                <form class="border rounded border-1 shadow-lg p-3 p-md-5" data-bs-theme="light" style="background: #ffffff;">
                    <input type="hidden" id="email" value="{{ email }}">
                    <div>
                        <h1 style="text-align: center;">{{ applicant_first_name }}'s Application</h1>
                    </div>
                    <div id="General"><label class="form-label" style="font-weight: bold;font-size: 20px;">General</label>
                        <div class="mb-3"><label class="form-label" for="anum">A Number</label>
                            <p>{{a_number }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="firstsemester">When was your first semester at IIT? <small class="text-muted">(Year is required; month/day can be approximate)</small></label>
                            <p>{{first_semester }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="expectedgraduation">When are you expecting to graduate from IIT? <small class="text-muted">(Year is required; month/day can be approximate)</small></label>
                            <p>{{estimated_graduation }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="activemember">Will you be an active member next year?</label>
                            <p>{{active_next_year }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="living">Where do you plan on living next semester?</label>
                            <p>{{live_in_house }}</p>
                        </div>
                    </div>
                    <div id="Academics"><label class="form-label" style="font-weight: bold;font-size: 20px;">Academics</label>
                        <div class="mb-3"><label class="form-label" for="firstmajor">First Major</label>
                            <p>{{first_major }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="secondmajor">Second Major (If you have one)</label>
                            <p>{{second_major }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="firstminor">First Minor (If you have one)</label>
                            <p>{{first_minor }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="secondminor">Second Minor (If you have one)</label>
                            <p>{{second_minor }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="cumulativegpa">Cumulative GPA</label>
                            <p>{{cumulative_gpa }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="cumulativegpa-1">Previous Semester GPA</label>
                            <p>{{previous_gpa }}</p>
                        </div>
                    </div>
                    <div id="Fraternity"><label class="form-label" style="font-weight: bold;font-size: 20px;">Fraternity</label>
                        <div class="mb-3"><label class="form-label" for="initiated">When were you initiated into the Fraternity?</label>
                            <p>{{semester_initiated }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="execpositions">How many Executive Board positions have you held in the fraternity?</label>
                            <p>{{executive_posions_held }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="otherpositions">How many non-executive positions have you held in the fraternity?</label>
                            <p>{{other_positions_held }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="conferences">How many Fraternity Conferences have you attended?</label>
                            <p>{{fraternity_conferences_attended }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="frat-text">Explain how you have contributed to the Fraternity.</label>
                            <p>{{fraternity_text }}</p>
                        </div>
                    </div>
                    <div id="Organizations"><label class="form-label" style="font-weight: bold;font-size: 20px;">Organizations</label>
                        <div class="mb-3"><label class="form-label" for="otherorgs">How many semesters have you been involved in other IIT organizations?</label>
                            <p>{{semesters_involvement }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="otherorgexec">How many Executive positions have you held in&nbsp;other IIT organizations?</label>
                            <p>{{other_org_executive_positions_held }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="otherorgpos">How many non-executive positions have you held in other IIT organizations?</label>
                            <p>{{other_org_positions_held }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="org-message">Explain how you have been involved at IIT outside of the Fraternity.</label>
                            <p>{{other_org_text }}</p>
                        </div>
                    </div>
                    <div id="Community-Service"><label class="form-label" style="font-weight: bold;font-size: 20px;">Community Service</label>
                        <div class="mb-3"><label class="form-label" for="comservice">What is the total&nbsp; hours of community service you have while in the fraternity?</label>
                            <p>{{total_community_service_hours }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="comservice2">How many hours of community service did you comple last semester?</label>
                            <p>{{last_semester_community_service_hours }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="service-message">Explain what community service events you have involved in.</label>
                            <p>{{community_service_text }}</p>
                        </div>
                    </div>
                    <div id="Essay-Questions"><label class="form-label" style="font-weight: bold;font-size: 20px;">Essay Questions</label>
                        <div class="mb-3"><label class="form-label" for="essay_question_1">What motivated you to join Phi Kappa Sigma? Which aspects of our fraternity align with you and why do you feel this is the right community for you?</label>
                            <p>{{essay_question_1 }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="essay_question_2">Tell us about your current academic and personal involvements and your contributions to IIT, PKS, and your community? Include any leadership positions, extracurricular involvement, or community service.</label>
                            <p>{{essay_question_2 }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="essay_question_3">What are your goals for your time in the fraternity and afterward? How do you plan to create positive change?</label>
                            <p>{{essay_question_3 }}</p>
                        </div>
                        <div class="mb-3"><label class="form-label" for="essay_question_4">Describe any financial or personal challenges that may impact your fraternity participation or education.</label>
                            <p>{{essay_question_4 }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/Animated-Text-Background-animatedTextBackground.js"></script>
    <script src="static/js/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>